target/CACHEDIR.TAG
target/debug/*
target/release/build*
target/release/deps/*
target/release/deps/*
target/release/examples/*
target/release/incremental/*
target/release/.fingerprint
target/release/yggui.d*
target/.rustc_info.json
target/release/.cargo-lock
