Config { font = "xft:Ubuntu:weight=bold:pixelsize=14:antialias=true:hinting=true"
       , additionalFonts = [ "xft:Sauce Code Pro:pixelsize=14:antialias=true:hinting=true"
       			   , "xft:FontAwesome:pixelsize=14"
			   ]
       , border = NoBorder
       , bgColor = "#2e3440"
       , fgColor = "#4c566a"
       , alpha = 255
       , position = Top
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Cpu ["-t","<fn=2>\xf108</fn>  <total>%","-H","50","--high","red"] 10
                    , Run Memory ["-t","<fn=2>\xf233</fn>  <usedratio>%"] 10
                    , Run Com "uname" ["-s","-n"] "" 36000
		    , Run Date "<fn=2>\xf017</fn>  %H:%M" "time" 10
                    , Run Date "<fn=2>\xf073</fn>  %a %b %_d" "date" 10
		    , Run BatteryP ["BAT0"] ["-t","<fn=2>\xf241</fn>  <left>% - <timeleft>"] 600
		    -- , Run Alsa "default" "Master" ["-t","<fn=2>\xf028</fn>  <volume>% <volumestatus>"]
		    , Run Com "bash" ["-c","$HOME/.config/xmobar/get_volume.sh"] "volume" 1
		    , Run Com "bash" ["-c","$HOME/.config/xmobar/get_system_updates.sh"] "updates" 36000
		    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "  <icon=/home/cr/.config/xmobar/icon.xpm/>    <fc=#b48ead>%UnsafeStdinReader%</fc> }{ <fc=#8fbcbb>%cpu%</fc>    |    <fc=#88c0d0>%memory%</fc>    |    <fc=#81a1c1>%battery%</fc>    |    <fc=#b48ead><fn=2></fn>  %volume%</fc>    |    <fc=#a3be8c>%time%</fc>    |    <fc=#d08770>%date%</fc>    |    %updates%    |    <fc=#d8dee9><fn=2></fn>  %uname%</fc>    "
       }
