Config { font = "xft:Ubuntu:weight=bold:pixelsize=14:antialias=true:hinting=true"
       , additionalFonts = [ "xft:Sauce Code Pro:pixelsize=14:antialias=true:hinting=true"
       			   , "xft:Font Awesome 5 Free Solid:pixelsize=14"
       			   , "xft:Font Awesome 5 Brands:pixelsize=14"
			   ]
       , border = NoBorder
       , bgColor = "#2e3440"
       , fgColor = "#4c566a"
       , alpha = 255
       , position = Top
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Cpu ["-t","<fn=2>\xf108</fn>  <total>%","-H","50","--high","red"] 10
                    , Run Memory ["-t","<fn=2>\xf233</fn>  <usedratio>%"] 10
		    , Run Wireless "" ["-t","<fn=2>\xf1eb</fn>  <quality>"] 20
                    , Run Com "uname" ["-s","-n"] "" 36000
		    , Run Date "<fn=2>\xf017</fn>  %H:%M" "time" 10
                    , Run Date "<fn=2>\xf073</fn>  %a %b %_d" "date" 10
		    , Run BatteryP ["BAT0"] [ "-t", "<acstatus>  <left>%"
		    			    , "--", "-L", "25", "-H", "80"
					    , "-O", "<fn=2>\xf240</fn>", "-o", ""
					    , "-i", "<fn=2>\xf240</fn>"
					    , "--lows", "<fn=2>\xf243</fn>"
					    , "--mediums", "<fn=2>\xf242</fn>"
					    , "--highs", "<fn=2>\xf240</fn>"
					    ] 600
		    , Run Alsa "default" "Master" [ "-t", "<status>  <volume>%"
		    				  , "-L", "20", "-H", "50", "--"
						  , "--lows", "<fn=2>\xf026</fn>"
						  , "--mediums", "<fn=2>\xf027</fn>"
						  , "--highs", "<fn=2>\xf028</fn>"
		    				  , "-O", "", "-o", "<fn=2>\xf6a9</fn>"
						  , "-C", "#a3be8c", "-c", "#a3be8c"
						  ]
		    , Run Com "bash" ["-c","$HOME/.config/xmobar/get_system_updates.sh"] "updates" 36000
		    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "    <icon=/home/caio/.config/xmobar/arch_icon.xpm/>  <fc=#b48ead>%UnsafeStdinReader%</fc> }{ <fc=#8fbcbb>%cpu%</fc>  |  <fc=#88c0d0>%memory%</fc>  |  <fc=#81a1c1>%wi%</fc>  |  <fc=#b48ead>%battery%</fc>  |  <fc=#a3be8c>%alsa:default:Master%</fc>  |  <fc=#d08770>%time%</fc>  |  <fc=#5e81ac>%date%</fc>  |  %updates%  |  <fc=#d8dee9><fn=2></fn>  %uname%</fc>    "
       }
